@import '@/styles/_variables';

.modal {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	inset: 0;
	opacity: 0;
	z-index: 100;
	overflow-y: auto;
	overflow-x: hidden;
	visibility: hidden;
	transition: all .3s ease;

	&.open {
		opacity: 1;
		visibility: visible;
	}
}

.inner {
	width: 100%;
	min-height: 100vh;
	padding: 30px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}