@import '@/styles/_variables';

.tag {
	&Items {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}

	&Btn {
		padding: 6px 16px;
		background: $gray-light;
		border-radius: 30px;

		color: $gray-9;
		font-size: $font-sm;
		line-height: $line-sm;
		font-weight: 400;

		transition: all .07s ease-out;

		
		&.active {
			color: $white;
			background: $primary;
		}

		&:hover {
			color: $white;
			background: $button-hover;
			transition: all .15s ease;
		}
	}
}