@import '@/styles/_variables';

.title {
	width: 100%;
	margin-bottom: 32px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		color: $primary;
		font-size: $font-md;
		line-height: $line-md;
		font-weight: 500;

		display: flex;
		align-items: center;
		gap: 12px;

		transition: all .2s ease;

		&:hover {
			color: $button-hover;
		}
	}
}

.arrow {
	max-width: 15px;
	display: inline-block;
}