@import '@/styles/_variables';

.product {
	&:hover {
		border-color: $hard-primary;
		box-shadow: 0px 0px 12px rgba(32, 181, 38, 0.32);
		z-index: 10;

		transition: all .2s ease-out;

		.productControls {
			opacity: 1;
			visibility: visible;
		}
	}

	&Badge {
		display: inline-flex;
		align-items: center;

		padding: 3px 8px;
		border-radius: 4px;

		&Red {
			background: $danger;
		}

		&Blue {
			background: $blue;
		}
		
		p {
			color: $white;
			font-size: $font-sm;
			line-height: $line-sm;
			font-weight: 400;
		}

		span {
			font-weight: 500;
			margin-left: 4px;
		}
	}

	&Icon {
		border-radius: 50%;

		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		transition: all .15s ease-out;

		&:hover {
			color: $white;
			background: $primary;
		}
	}	

	&GrayIcon {
		background: $gray-light;

		&.active {
			color: $white;
			background: $hard-primary;
		}
	}

	&Price {
		span {
			color: $gray-4;
			font-weight: 400;
			text-decoration: line-through;
		}
	}
}