@import '@/styles/_variables';

.list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.option {
	display: block;
	line-height: 0;
}

.label {
	margin-left: 8px;

	span {
		color: $gray-5;
	}
}