@import '@/styles/_variables';

.breadcrumb {
	width: 100%;
	padding: 24px 0;

	display: flex;
	align-items: center;

	&List {
		width: fit-content;
		display: flex;
		align-items: center;
		gap: 32px;
	}

	&Item {
		display: inline-block;
		max-height: 24px;

		color: $gray-4;
		font-size: $font-md;
		line-height: $line-md;
		font-weight: 400;

		position: relative;
		transition: all .2s ease;
		
		a {
			display: inline-flex;

			svg {
				flex: 1 0 24px;
				color: $gray-5;
				transition: all .2s;
			}
		}

		&.active {
			color: $primary;

			a {
				svg {
					color: $primary;
				}
			}
		}
	}
}

.separator {
	height: 100%;
	user-select: none;
	position: absolute;
	top: 50%;
	right: -20px;
	transform: translateY(-50%);
	
	img {
		min-width: 6px;
		min-height: 10px;
	}
}