@import '@/styles/_variables';

.testimonials {
	padding: 60px 0;
	background: $gray-light;

	.prevArrow,
	.nextArrow {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		border: 1px solid $gray-1;
		margin: 0;

		color: $gray-9;
		background: $white;

		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		position: static;
		transition: all .15s ease;

		svg {
			max-width: 15px;
			max-height: 12px;
		}

		&:after {
			display: none;
		}

		&:hover,
		&.active {
			color: $white;
			background: $primary;
			border-color: $primary;
		}
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 32px;

	h2 {
		color: $gray-9;
		font-size: $font-h5;
		line-height: $line-h5;
		font-weight: 600;
	}
}

.slideArrows {
	display: flex;
	gap: 12px;
}

.prevArrow {
	transform: rotate(180deg);
}

.slider {
	width: 100%;
	height: 100%;
}