.timer {
	
	display: flex;

	&Item {
		display: flex;
	}

	&Unit {
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

	&Colon {
		display: flex;
		align-items: center;
		flex-direction: column;

		width: 6px;
		height: 36px;
		margin: 0 8px;
		padding-top: 13px;
		gap: 7px;

		span {
			width: 3.5px;
			height: 3.5px;
			border-radius: 50%;
		}
	}

	&Value {
		display: block;
	}
}