@import '@/styles/_variables';

.input {
	width: 100%;
	padding: 14px 16px;
	padding-right: 32px;

	background: $white;
	border: 1px solid $gray-1;
	border-radius: 6px;

	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	color: $gray-9;

	display: flex;
	justify-content: space-between;
	align-items: center;

	transition: all .1s ease;

	&:hover {
		border-color: $gray-3;
	}

	&:focus {
		border-color: $gray-6;
	}

	&.invalid {
		border-color: $danger;
	}

	&::placeholder {
		color: $gray-4;
		user-select: none;
	}

	&Wrapper {
		position: relative;
	}
}

.showPassword {
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);

	img {
		width: 20px;
		height: 20px;
		display: block;
		user-select: none;
	}
}